@-webkit-keyframes fadein1 {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadein1 {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#wrap {
	background-color: #250000;
}

.content {
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.whole {
	padding-top: 200px;
	padding-bottom: 50px;
	height: 200px;
}

.arrow_box {
	opacity: 0;
	margin-top: 100px;
	position: relative;
	background: #edfcfb;
	-webkit-animation: fadein1 0.5s ease-in;
	-webkit-animation-delay: 4.5s;
	-webkit-animation-fill-mode: forwards;
	animation: fadein1 0.5s ease-in;
	animation-delay: 4.5s;
	animation-fill-mode: forwards;
}
.arrow_box:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(110, 46, 46, 0);
	border-top-color: #6e5e5e;
	border-width: 30px;
	left: 50%;
	margin-left: -30px;
}

.interest {
	opacity: 0;
	font-size: 24px;
	color: #ccc;
	text-align: center;
	-webkit-animation: fadein1 1s ease-in;
	-webkit-animation-delay: 3.8s;
	-webkit-animation-fill-mode: forwards;
	animation: fadein1 1s ease-in;
	animation-delay: 3.8s;
	animation-fill-mode: forwards;
}

.fadein2 {
	opacity: 0;
	-webkit-animation: fadein1 0.5s ease-in;
	-webkit-animation-delay: 5s;
	-webkit-animation-fill-mode: forwards;
	animation: fadein1 0.5s ease-in;
	animation-delay: 5s;
	animation-fill-mode: forwards;
}

.fadein3 {
	opacity: 0;
	-webkit-animation: fadein1 0.5s ease-in;
	-webkit-animation-delay: 5s;
	-webkit-animation-fill-mode: forwards;
	animation: fadein1 0.5s ease-in;
	animation-delay: 5s;
	animation-fill-mode: forwards;
}


.home-slogan-half {
	margin: 0 10px;
	font-size: 28px;
}

.home-slogan-half.first {
	opacity: 0;
	-webkit-animation: fadein1 1s ease-in;
	-webkit-animation-fill-mode: forwards;
	animation: fadein1 1s ease-in;
	animation-fill-mode: forwards;
}

.home-slogan-half.second {
	opacity: 0;
	-webkit-animation: fadein1 1s ease-in;
	-webkit-animation-delay: 1s;
	-webkit-animation-fill-mode: forwards;
	animation: fadein1 1s ease-in;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

.home-slogan {
	margin: 5px 5px 20px 5px;
	font-size: 49px;
}
.home-slogan>.first {
	opacity: 0;
	-webkit-animation: fadein1 0.5s ease-in;
	-webkit-animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
	animation: fadein1 0.5s ease-in;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

.home-slogan>.second {
	opacity: 0;
	-webkit-animation: fadein1 0.3s ease-in;
	-webkit-animation-delay: 2.3s;
	-webkit-animation-fill-mode: forwards;
	animation: fadein1 0.3s ease-in;
	animation-delay: 2.3s;
	animation-fill-mode: forwards;
}
.home-slogan>.third {
	opacity: 0;
	-webkit-animation: fadein1 0.5s ease-in;
	-webkit-animation-delay: 2.8s;
	-webkit-animation-fill-mode: forwards;
	animation: fadein1 0.5s ease-in;
	animation-delay: 2.8s;
	animation-fill-mode: forwards;
}

.align-right {
	text-align: right;
}

.orange {
	color: #d62;
}

.yellow {
	color: #ee6;
}

.light-yellow {
	color: #ee6;
}

.light-grey {
	color: #888;
}

.light-blue {
	color: #46a;
}

.fontsize-24 {
	font-size: 24px;
	line-height: 1;
}

.fontsize-26 {
	font-size: 26px;
	line-height: 1.2;
}

.fontsize-30 {
	font-size: 30px;
}

.fontsize-42 {
	font-size: 40px;
	line-height: 0.8;
}

.fontsize-53 {
	font-size: 53px;
	line-height: 0.8;
}

.fontsize-84 {
	font-size: 80px;
	line-height: 0.8;
}

.have-padding {
	padding: 5px 5px;
}

.have-vertical-padding {
	padding-top: 10px;
	padding-bottom: 5px;
}

.have-left-margin {
	margin-left: 40px;
}

.border-right {
	border-right: 1px solid #500;
}
.border-bottom {
	border-bottom: 1px solid #500;	
}

.sns-icon {
	display: block;
	float: left;
	margin: 3px 3px;
	height: 48px;
}

.sns-icon img {
	height: 100%;
}

.sns-icon a {
	
}

.sns-icon a:link {
	
}

.sns-icon a:visited {
	
}

.sns-icon a:hover {
	opacity: 0.5;
}

.sns-icon a:active {
	
}

.hire-me-btn > a {
	display: block;
	float: left;
	width: 102px;
	height: 48px;
	margin: 3px;
	background-color: #d80;
	font-size: 22px;
	line-height: 2.18181818;
	text-align: center;
	text-decoration: none;
	color: white;
}

.hire-me-btn > a:link {
}

.hire-me-btn > a:visited {
}

.hire-me-btn > a:hover {
	color: #00f;
	background-color: #fe0;
}

.hire-me-btn > a:active {
	color: #00a;
	background-color: #c70;
}

img.love-item-pic {
	width: 120px;
	margin: 5px 60px;
}

.love-des {
	font-size: 22px;
	margin: 0 0 0 45px;
}

.small {
	font-size: 80%;
}

img.temp {
	margin: 0 30px;
}

.img-head {
	height: 140px;
}

img.thin {
	display: none;
}

@media only screen and (min-width: 959px) {
	.row.part1 {
	height: 148px;
	}
	.row.part2 {
		height: 110px;
	}
	.row.part3 {
		height: 100px;
	}
	.row.part4 {
		height: 150px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

	.container .column,
	.container .columns {
		margin: 0;
	}

	.container .one.column,
	.container .one.columns {
		width: 46px;
		margin-left: 20px;
		margin-bottom: 10px;
	}

	.home-slogan-half {
		margin: 0;
		line-height: 1.166667;
	}

	.home-slogan {
		margin: 0;
	}

	.fontsize-26 {
		font-size: 20px;
	}

	.fontsize-30 {
		font-size: 24px;
	}

	.fontsize-42 {
		font-size: 34px;
	}

	.fontsize-53 {
		font-size: 42px;
	}
	.fontsize-84 {
		font-size: 72px;
	}

	.have-left-margin {
		margin-left: 0;
	}

	.img-head {
		margin-left: 20px;
		height: 140px;
	}

	.row.part1 {
		height: 121px;
	}
	.row.part2 {
		height: 136px;
	}
	.row.part3 {
		height: 100px;
	}
	.row.part4 {
		height: 149px;
	}

	.sns-icon {
		display: block;
		float: left;
		margin: 3px 6px;
		height: 40px;
	}

	.sns-icon img {
		height: 100%;
	}


	.hire-me-btn > a {
		width: 144px;
		height: 40px;
		margin: 3px 6px;
		font-size: 24px;
		line-height: 1.66666667;
	}

	img.love-item-pic {
		width: 120px;
		margin: 5px 60px;
	}

	.love-des {
		font-size: 18px;
		margin: 0 0 0 45px;
	}


}

@media only screen and (min-width: 620px) and (max-width: 767px) {
	.home-slogan-half {
		margin: 0;
	}
	.home-slogan {
		margin: 0;
	}
	.align-right {
		text-align: left;
	}

	.have-left-margin {
		margin-left: 0;
	}
	.border-right {
		border-right: none;
	}

	.row.fifty-shrink {
		width: 50%;
		display: block;
		float: left;
		padding-left: 0;
		padding-right: 0;
		height: 150px;
	}

	.three.columns.adjust-width {
		width: 50%;
	}

	.four.columns.adjust-width {
		width: 50%;
	}

	.nine.columns.adjust-width {
		width: 50%;
	}

	.img-head {
		margin-left: 20px;
		height: 260px;
	}

	.sns-icon {
		display: block;
		float: left;
		margin: 5px 5px;
		height: 56px;
	}

	.sns-icon img {
		height: 100%;
	}

	.hire-me-btn > a {
		width: 122px;
		height: 56px;
		margin: 5px;
		font-size: 26px;
		line-height: 2.153846154;
	}

	img.love-item-pic {
		width: 180px;
		margin: 5px 0px;
	}

	.love-des {
		font-size: 28px;
		margin: 0 40px;
	}

	.interest {
		font-size: 24px;
		text-align: left;
		margin-bottom: 20px;
	}

    .whole {
		padding-top: 50px;
		padding-bottom: 50px;
		height: 200px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 619px) {
	.home-slogan-half {
		margin: 0;
	}
	.home-slogan {
		margin: 0;
	}
	.align-right {
		text-align: left;
	}

	.have-left-margin {
		margin-left: 0;
	}
	.border-right {
		border-right: none;
	}

	.row.fifty-shrink {
		width: 50%;
		display: block;
		float: left;
		padding-left: 0;
		padding-right: 0;
		height: 150px;
	}
	
	.one.columns.adjust-width {
		width: 15%;
		
	}

	.three.columns.adjust-width {
		width: 40%;
	}

	.four.columns.adjust-width {
		width: 50%;
	}

	.five.columns.adjust-width {
		width: 80%;	
	}

	.nine.columns.adjust-width {
		width: 100%;
	}

	img.temp {
		margin: 0;
	}

	.img-head {
		display: none;
	}

	img.thin {
		display: block;
		width: 90%;
	}
	img.wide {
		display: none;
	}

	.sns-icon {
		display: block;
		float: left;
		margin: 0 3px 6px;
		height: 48px;
	}

	.sns-icon img {
		height: 100%;
	}

	.hire-me-btn > a {
		width: 156px;
		height: 42px;
		margin: 0 3px;
		font-size: 24px;
		line-height: 1.66666667;
	}

	img.love-item-pic {
		width: 140px;
		margin: 5px 0;
	}

	.love-des {
		font-size: 24px;
		margin: 0;
	}

	.interest {
		font-size: 24px;
		text-align: left;
		margin-bottom: 20px;
	}
    
    .whole {
		padding-top: 50px;
		padding-bottom: 50px;
		height: 200px;
	}
}

@media only screen and (min-width: 360px) and (max-width: 479px) {

	.container .column,
	.container .columns {
	}

	.have-padding {
		padding: 10px 0;
	}

	.have-padding.alpha {
		padding: 30px 0 10px 0;
	}

	.home-slogan-half {
		margin: 0;
		font-size: 24px;
	}
	.home-slogan {
		margin: 0;
		font-size: 38px;
	}
	.align-right {
		text-align: left;
	}

	.have-left-margin {
		margin-left: 0;
	}

	.border-right {
		border-right: none;
	}

	.fontsize-42 {
		font-size: 35px;
	}

	.fontsize-84 {
		font-size: 70px;
	}

	.one.columns.adjust-width {
		width: 15%;
		
	}

	.four.columns.adjust-width {
		width: 50%;
	}

	.five.columns.adjust-width {
		width: 80%;
	}

	.img-head {
		display: none;
	}

	img.temp {
		margin: 0;
		margin-left: 5px;
		height: 110px;
	}

	img.thin {
		display: block;
		width: 90%;
	}
	img.wide {
		display: none;
	}

	.sns-icon {
		display: block;
		float: left;
		margin: 0 5px 10px;
		height: 62px;
	}

	.sns-icon img {
		height: 100%;
	}

	.hire-me-btn > a {
		width: 134px;
		height: 62px;
		margin: 0 5px 10px;
		font-size: 28px;
		line-height: 2.2142;
	}

	img.love-item-pic {
		width: 120px;
		margin: 5px 0;
	}

	.love-des {
		font-size: 18px;
		margin: 0;
	}

	.interest {
		font-size: 20px;
		text-align: left;
		margin-bottom: 20px;
	}
	.whole {
		padding-top: 50px;
		padding-bottom: 50px;
		height: 200px;
	}
}

@media only screen and (max-width: 359px) {

	.container .column,
	.container .columns {
	}

	.have-padding {
		padding: 10px 0;
	}
	.have-padding.alpha {
		padding: 30px 0 10px 0;
	}

	.home-slogan-half {
		margin: 0;
		font-size: 20px;
	}
	.home-slogan {
		margin: 0;
		font-size: 34px;
	}
	.align-right {
		text-align: left;
	}

	.have-left-margin {
		margin-left: 0;
	}

	.border-right {
		border-right: none;
	}

	.fontsize-42 {
		font-size: 30px;
	}

	.fontsize-84 {
		font-size: 60px;
	}

	.one.columns.adjust-width {
		width: 15%;
		
	}

	.four.columns.adjust-width {
		width: 50%;
	}

	.five.columns.adjust-width {
		width: 80%;
	}

	.img-head {
		display: none;
	}

	img.temp {
		margin: 0;
		margin-left: 5px;
		height: 110px;
	}

	img.thin {
		display: block;
		width: 90%;
	}
	img.wide {
		display: none;
	}

	.sns-icon {
		display: block;
		float: left;
		margin: 0 4px 8px;
		height: 60px;
	}

	.sns-icon img {
		height: 100%;
	}

	.hire-me-btn > a {
		width: 128px;
		height: 60px;
		margin: 0 4px 8px;
		font-size: 28px;
		line-height: 2.1428;
	}

	img.love-item-pic {
		width: 120px;
		margin: 5px 0;
	}

	.love-des {
		font-size: 18px;
		margin: 0;
	}

	.interest {
		font-size: 18px;
		text-align: left;
		margin-bottom: 20px;
	}

	.whole {
		padding-top: 50px;
		padding-bottom: 50px;
		height: 200px;
	}
}
