.title {
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-weight: bold;
}
h2 {
    margin-top: 1em;
}

h2.title {
    font-size: 24px;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    clear: both;
}

.post-img {
    display: block;
    clear: both;
    margin: auto;
}
