#wrap {
	background-color: #250000;
}

.content {
	color: #fff;
}

p.projectTitle {
	color: #DDD;
	font-size: 28px;
	text-transform: uppercase;
	margin-bottom: 5px;
	font-weight: 700;
}

.backBtn {
	display: inline-block;
	line-height: 1.2;
	padding: 5px;
	color: #aaa;
    border: 1px solid #aaa;
    border-radius: 5px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
}

.backBtn:link {
    color: #aaa;	
}

.backBtn:visited {
    color: #aaa;	
}

.backBtn:hover {
	background-color:#ddd;
    color: #333;
	
}

.backBtn:active {
	
}

.description {
	padding: 10px;
}

.title2 {
	color: #CCC;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 22px;
}

.detail {
	line-height: 1.2;
	color: #aaa;
	margin-bottom: 5px;
}

.sub {
	color: #AAA;
	margin-bottom: 2px;
	font-size: 14px;
	font-style: italic;
	
}

.tile.image {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.ratio {
	display: block;
	width: 100%;
	height: auto;
}

iframe, object {
	position: absolute;
	top:0;
	left:0;
	width:100%; 
	height:100%;
}

iframe.in-des, object.in-des {
    position: inherit;
    top: atuo;
    margin-top: 0.5em;
}

p.doc-link {
    font-weight: 700;
    color: #bbb;
	margin-bottom: 0.5em;
}

a.doc-link {
	color: #bbb;
	cursor: pointer;
}

a.doc-link:link {
	
}

a.doc-link:visited {
	
}

a.doc-link:hover {
	color: #88C;
}

a.doc-link:visited {
	
}



/*
	Skeleton for photo gallery
 */

.container .tile {
	position: relative;
	float: left;
	display: inline;
	margin: 10px;
	background-color: #1F0000;
}

.tile.alpha {
	margin-left: 0;
}

.tile.omega {
	margin-right: 0;
}

/* Base Grid */
.container .tile.width_one {
	width: 225px;
}

.container .tile.width_two {
	width: 470px;
}

.container .tile.width_three {
	width: 715px;
}

.container .tile.width_four {
	width: 960px;
}

.container .tile.height_one {
	height: 225px;
}

.container .tile.height_two {
	height: 470px;
}

.container .tile.height_three {
	height: 715px;
}

.container .tile.height_four {
	height: 960px;
}

.container .tile.height_auto {
	height: auto;
}

.container .tile.description {
    padding: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: 1px solid #555;
}

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container .tile {
		margin: 5px;
	}

	.tile.alpha {
		margin-left: 0;
	}

	.tile.omega {
		margin-right: 0;
	}

	/* Base Grid */
	.container .tile.width_one,
	.container .tile.width_two,
	.container .tile.width_three,
	.container .tile.width_four
    {
		width: 100%;
	}
	/* .container .tile.width_one { */
	/* 	width: 182px; */
	/* } */
    /*  */
	/* .container .tile.width_two { */
	/* 	width: 374px; */
	/* } */
    /*  */
	/* .container .tile.width_three { */
	/* 	width: 566px; */
	/* } */
    /*  */
	/* .container .tile.width_four { */
	/* 	width: 768px; */
	/* } */

	.container .tile.height_one {
        height: auto;
		min-height: 225px;
	}

	.container .tile.height_two {
        height: auto;
		min-height: 460px;
	}

	.container .tile.height_three {
        height: auto;
		min-height: 695px;
	}

	.container .tile.height_four {
        height: auto;
		min-height: 930px;
	}

    .container .tile.description {
        height: auto;
        min-height: 100%;
    }
}

/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

@media only screen and (min-width: 620px) and (max-width: 767px) {
	.container .tile {
		margin: 5px;
	}

	.tile.alpha {
		margin-left: 0;
	}

	.tile.omega {
		margin-right: 0;
	}

	/* Base Grid */
	.container .tile.width_one,
	.container .tile.width_two,
	.container .tile.width_three,
	.container .tile.width_four
    {
		width: 100%;
	}

	/* .container .tile.width_two { */
	/* 	width: 290px; */
	/* } */
    /*  */
	/* .container .tile.width_three { */
	/* 	width: 440px; */
	/* } */
    /*  */
	/* .container .tile.width_four { */
	/* 	width: 600px; */
	/* } */

	.container .tile.height_one {
        height: auto;
		min-height: 225px;
	}
    .container .tile.height_one {
        height: auto;
		min-height: 225px;
	}
	.container .tile.height_two {
        height: auto;
		min-height: 460px;
	}

	.container .tile.height_three {
        height: auto;
		min-height: 695px;
	}

	.container .tile.height_four {
        height: auto;
		min-height: 930px;
	}
    .container .tile.description {
        height: auto;
        min-height: 0;
    }
	.detail {
		font-size: 16px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 619px) {
	.container .tile {
		margin: 0 0 10px;
	}

	.tile.alpha {
		margin-left: 0;
	}

	.tile.omega {
		margin-right: 0;
	}

	/* Base Grid */
	.container .tile.width_one, 
	.container .tile.width_two, 
	.container .tile.width_three,
	.container .tile.width_four {
		width: 100%;
	}

	.container .tile.height_one {
        height: auto;
		min-height: 225px;
	}

	.container .tile.height_two {
        height: auto;
		min-height: 460px;
	}

	.container .tile.height_three {
        height: auto;
		min-height: 695px;
	}

	.container .tile.height_four {
        height: auto;
		min-height: 930px;
	}

    .container .tile.description {
        height: auto;
        min-height: 100%;
    }

    .btn {
        margin-bottom: 4px;
    }
}

/* #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 480px */
    
@media only screen and (min-width: 360px) and (max-width: 479px) {
	.container .tile {
		margin: 0 0 5px;
	}

	.tile.alpha {
		margin-left: 0;
	}

	.tile.omega {
		margin-right: 0;
	}

	/* Base Grid */
	.container .tile.width_one, 
	.container .tile.width_two, 
	.container .tile.width_three,
	.container .tile.width_four {
		width: 100%;
	}

	.container .tile.height_one {
        height: auto;
		min-height: 225px;
	}

	.container .tile.height_two {
        height: auto;
		min-height: 460px;
	}

	.container .tile.height_three {
        height: auto;
		min-height: 695px;
	}

	.container .tile.height_four {
        height: auto;
		min-height: 930px;
	}

    .container .tile.description {
        height: auto;
        min-height: 100%;
    }
    
    .btn {
        margin-bottom: 4px;
    }
}

@media only screen and (max-width: 359px) {
	.container .tile {
		margin: 0 0 5px;
	}

	.tile.alpha {
		margin-left: 0;
	}

	.tile.omega {
		margin-right: 0;
	}

	/* Base Grid */
	.container .tile.width_one, 
	.container .tile.width_two, 
	.container .tile.width_three,
	.container .tile.width_four {
		width: 100%;
	}

	.container .tile.height_one {
        height: auto;
		min-height: 225px;
	}

	.container .tile.height_two {
        height: auto;
		min-height: 460px;

	}

	.container .tile.height_three {
        height: auto;
		min-height: 695px;
	}

	.container .tile.height_four {
        height: auto;
		min-height: 930px;
	}

    .container .tile.description {
        height: auto;
        min-height: 100%;
    }

    .btn {
        margin-bottom: 4px;
    }

	.detail {
		font-size: 16px;
	}
}
