---
layout: default
title: Projects
nav: true
index: 3
css:
 - path: project.css
js:
 - path: jquery-1.10.2.min.js
 - path: jquery.mixitup.min.js
 - path: project.js
---
<div class="controls">
    <ul>
        <li class="filter" data-filter="all">all</li>
        {% for cat in site.categories %}
            {% if cat[0] contains 'project/'%}
            {% assign c = cat[0] | remove: 'project/' %}
            <li class="filter" data-filter="{{ c }}">{{ c | replace: "_", " " }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<div id="Grid">
    {% for post in site.categories.projects %}
    <div class="mix {{ post.categories | join: ' ' | remove: 'project/'}} mix_all">
        <a class="project-link clearfix" href="{{ post.url | prepend: site.baseurl }}"><span class="link-span"></span></a>
        <div class="hexagon">
            <div class="hexagon-in">
                <div class="img" style="background-image: url('{{ post.cover_photo | prepend: site.baseurl }}');"></div>
            </div>
        </div>
        <div class="picture-item__details">
            <p class="picture-item__title">{{ post.title }}</p>
            <p class="picture-item__tags">{{ post.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>

