<div id="footer">
    <div class="container">
        <div class="sixteen columns">
            <p class="text-muted credit">©2015 Yu-Jen Lin |  </p>
            <a href="mailto:peacedove5210@gmail.com"><img class="sns" src="{{ site.baseurl }}/assets/img/sns/mail.png" />
            </a>
            <a href="http://www.linkedin.com/in/yujenlin1/"><img class="sns" src="{{ site.baseurl }}/assets/img/sns/linkedin-icon.png" />
            </a>
            <a href="https://github.com/peacedove/"><img class="sns" src="{{ site.baseurl }}/assets/img/sns/github-mark.png">
                </a>
        </div>
    </div>
</div>
