<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="five columns">
                <div class="logo">
                    <div class="navbar-brand">Yu-Jen Lin</div>
                </div>
            </div>
            <div class="eleven column clearfix">
                <nav>
                    <ul class="navlist">
                        {% assign sorted_pages = site.pages | sort: 'index'%}
                        {% for navpage in sorted_pages %}
                            <li
                                {% if page.title == navpage.title %}
                                    class="current-menu-item"
                                {% elsif (page.categories contains "projects" and  navpage.title == "Projects") %}
                                    class="current-menu-item"
                                {% elsif (page.categories contains "lab" and navpage.title == "Lab") %}
                                    class="current-menu-item"
                                {% endif %}
                                ><a href="{{ navpage.url | prepend: site.baseurl }}">{{ navpage.title }}</a>
                            </li>
                        {% endfor %}
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row zero-bottom-margin">
            
        </div>
    </div>
</div>
